header{
    position: sticky;
    top: 0;
    z-index: 10000;
    background-color: #fff;
    padding: 0;
    border-bottom: 1px solid rgb(156, 113, 113);
}
img{
    width: 8rem;
}

a{
    color: #c15959;
    text-decoration: none;
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
a.logo{
    font-weight: bold;
    padding: 0.3rem;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
}
nav ul li a{
    position: relative;
    color: #c15959;
    padding: 1rem ;
    display: inline-block;
}
nav ul li a:hover{
    background-color: #c15959;
    color: white;
}

nav ul li a span{
    background: #e72929;
    color: white;
    padding: 0 0.4rem;
    border-radius: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.3rem;
}

.menu-container{
    position: relative;
}

.menu{
    position: absolute;
    z-index: 1;
    background:white;
    display: none;
}

.menu-container:hover .menu{
    display: block;
}
.menu a{
    width: 100%;
    min-width: 8rem;
}