div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 100;
    height: 1.5rem;
    margin: 5rem;
}
a{
    border-radius:2rem ;
    text-decoration: none;
    font-size: 1.1rem;
    background-color: #e72929;
    color: white;
    padding: 0.7rem 1rem;
    margin: 1rem;
    opacity: 0.8;
}
a:hover{
    opacity: 1;
    cursor: pointer;
}