.container{
  position: relative;
  width: 25rem;
  height: 12rem;
  text-align: center;
}

.map{
  width: 100%;
  height: 100%;
}

.find-location{
  position: absolute;
  margin: auto;
  width: 10rem;
  min-height: 2rem;
  font-size: 1rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #ffffff7c;
  cursor: pointer;
}
.find-location:hover{
  background-color: white;
}