.container-cart{
    display: flex;
}

.card{
    margin-top: 2rem;
    width: 66%;
}
img{
    width: 30%;
    height: auto;
}
.item-content{
    margin-left:1rem;
}
input{
    width: 20%;
    text-align: center;
    background: transparent;
    border: none;
}

.remove,.order{
    margin: 1rem;
    width: 8rem;
}
.text-center{
    position: relative;
    top: 40vh;
}
.cart-btns{
    display: flex;
    flex-direction: column;
}
.order{
    
}

.checkout{
    font-size: 1.5rem;
    position: sticky;
    top: 4rem;
    height: 7rem;
    text-align: center;
    /* display: flex; */
    /* justify-content: space-between; */
    width: 33%;
    padding: 1rem;
    color: white;
    background: #e72929;
    border: 1px solid #ddd8d8;
    border-radius: 1rem;
}

.favorite{
    color: red;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

.favorite.not{
    color: black;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}