
h2{
color:  #c15959;
}
.container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.content{
    width: 35rem;
    /* margin-right: 3rem; */
}

form{
    width: 100%;
}
.buttons-container{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

button{
    color: white;
    background-color: #e72929;
    width: 100%;
    padding: 1rem 2rem;
    opacity: .8;
    font-size: 1rem;
    border: none;
    border-radius: 3rem;
    box-shadow: 2px;
    margin: 2rem 0;

}

button:hover{
    opacity: 1;
    cursor: pointer;
}
table{
    width: 100%;
    border: 1px solid #7e7676;
    border-radius: 5rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
}

h3{
    margin-top: .5rem;
    margin-left: .3rem;
    color: grey;
}

a:hover{
    opacity: .9;
}
td{
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid #d0caca;
}
td img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 1rem;
    /* margin-left: 2rem; */
}

