ul.food{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
ul li{
    margin: 1rem;
}
ul li:hover{
    box-shadow: 0 0 16px 0px;
}

ul li a{
    /* height: 22.5rem; */
    width: 16rem;
    border: 1px solid whitesmoke;
    /* border-radius: 1rem; */
    /* margin: 0.5rem; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: brown;
    text-decoration: none;
}
ul li a:hover{
    opacity: 0.9;
}

.content{
    padding:1rem 1rem;
    position: relative;
}
.favorite{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.favorite.not{
    color: black;
}
.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.origins{
    flex: 9;
}
.origins span{
    border-radius: 2rem;
    background-color: whitesmoke;
    color: gray;
    font-size: 0.8rem;
    display: inline-block;
}

.cook-time{
    font-size: .8rem;
    flex: 3;
    text-align: right;
}

.price{
    color: #424242;
    margin-top: .2rem;
}