.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 1rem 1rem;
  }
  .btn-container{
    margin-top: 1rem;
    text-align: center;
  }
  .btn{
    color: white;
    background-color: #e72929;
    border: none;
    font-size: 1rem;
    padding: 0.75rem;
    width: 66%;
    border-radius: 10rem;
    cursor: pointer;
  }
  .btn:hover{
    opacity: .9;
  }

  .form-control{
    width: 90%;
  }
  form{
    width: 40%!important;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    form{
      width: 100%!important;
    }
  }